[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
numpy = "*"

[dev-packages]
flake8 = "*"
pep8 = "*"
pycodestyle = "*"
jupyter = "*"

[requires]
python_version = "3.9"
